[build]
  publish = "build"
  command = "bash ./scripts/build.sh"

[[headers]]
  for = "/_/_placeholder/*.png"
  [headers.values]
    Cache-Control = "public, max-age: 900, s-maxage=3600, must-revalidate"

[[headers]]
  for = "/*.png"
  [headers.values]
    Cache-Control = "public, max-age: 900, s-maxage=604800, must-revalidate"

[[redirects]]
  from = "/"
  to = "https://github.com/home-assistant/brands"
  force = true
  status = 301
  headers = {Cache-Control = "public, max-age: 900, s-maxage=604800, must-revalidate"}

[[redirects]]
  from = "/_/*/icon.png"
  to = "/_/_placeholder/icon.png"
  force = false
  status = 302
  headers = {Cache-Control = "public, max-age: 900, s-maxage=3600, must-revalidate"}

[[redirects]]
  from = "/_/*/logo.png"
  to = "/_/_placeholder/logo.png"
  force = false
  status = 302
  headers = {Cache-Control = "public, max-age: 900, s-maxage=3600, must-revalidate"}

[[redirects]]
  from = "/_/*/icon@2x.png"
  to = "/_/_placeholder/icon@2x.png"
  force = false
  status = 302
  headers = {Cache-Control = "public, max-age: 900, s-maxage=3600, must-revalidate"}

[[redirects]]
  from = "/_/*/logo@2x.png"
  to = "/_/_placeholder/logo@2x.png"
  force = false
  status = 302
  headers = {Cache-Control = "public, max-age: 900, s-maxage=3600, must-revalidate"}
