name: Validate

on: [push, pull_request]

jobs:
  validate:
    name: Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Validate images
        uses: ./.github/workflows/validate
